<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}"
>
<head>
    <title>Cadastro Item</title>
</head>
<body>
	<div layout:fragment="conteudo">
	    <div class="box">
	        <h1>Cadastro Item</h1>
	        <form method="post" action="/item">
				<input type="hidden" name="_method" value="put" th:if="${item != null}">
				<input type="hidden" name="id" th:value="${item?.id}">
				
				<div>
		            <label for="descricao">Descrição:</label>
		            <input type="text" id="descricao" name="descricao" th:value="${item?.descricao}" required>
		        </div>
		        
		        <div>
		            <label for="valor-unitario">Valor Unitário:</label>
		            <input type="number" id="valor-unitario" name="valorUnitario" step="any" pattern="[0-9]+([\.,][0-9]+)?" 
		            	th:value="${item?.valorUnitario}">
		        </div>		 
		           
		        <input type="submit" value="Cadastrar">
	        </form>
	    </div>
	</div>
</body>
</html>
