<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}">
<head>
    <title>Lista de Itens</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Lista de Itens</h1>
    <a href="/item/formulario">Novo</a>
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor Unitário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${lista}">
                <td th:text="${item.descricao}"></td>
                <td th:text="${item.valorUnitario}"></td>
                <td>
                    <a th:href="@{/item/formulario?id={id}(id=${item.id})}"><button>Editar</button></a>
                    <form action="/item" method="post" style="display:inline;">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="id" th:value="${item.id}">
                        <input type="submit" value="Excluir">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
