<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}">
<head>
    <title>Lista de Pessoas</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Lista de Pessoas</h1>
    <a href="/pessoa/formulario">Novo</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pessoa : ${lista}">
                <td th:text="${pessoa.nome}"></td>
                <td th:text="${pessoa.cpf}"></td>
                <td th:text="${pessoa.telefone}"></td>
                <td th:text="${pessoa.email}"></td>
                <td>
                    <a th:href="@{/pessoa/formulario?id={id}(id=${pessoa.id})}"><button>Editar</button></a>
                    <form action="/pessoa" method="post" style="display:inline;">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="id" th:value="${pessoa.id}">
                        <input type="submit" value="Excluir">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
