<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}">
<head>
    <title>Lista de Temas</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Lista de Temas</h1>
    <a href="/tema/formulario">Novo</a>
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tema : ${listaTemas}">
                <td th:text="${tema.descricao}"></td>
                <td th:text="${tema.preco}"></td>
                <td>
                    <a th:href="@{/tema/formulario?id={id}(id=${tema.id})}"><button>Editar</button></a>
                    <form action="/tema" method="post" style="display:inline;">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="id" th:value="${tema.id}">
                        <input type="submit" value="Excluir">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
